extends subpage

block subcontent
  h1.font-bold.text-3xl.pb-8= `[${cl.codigo}] ${cl.titulo}`
  div.flex.flex-col.gap-8
    div.flex.justify-start.gap-16
      div
        p.font-light Nível
        p= cl.nivel
      div
        p.font-light Estado
        p= cl.status
    div
      p.font-light Descrição
      p= cl.descricao

  if cl.filhos.length > 0
    h2.font-bold.text-2xl.py-6 Filhos
    div.grid.gap-4(class="grid-cols-1 lg:grid-cols-2")
      each filho in cl.filhos
        a.shadow.md.bg-slate-500.text-white.rounded-xl.px-5.py-2(href="/classes/" + filho.codigo class="hover:bg-slate-600")
          p= `[${filho.codigo}] ${filho.titulo}`

  if cl.nivel == 3 && cl.termosInd.length > 0
    h2.font-bold.text-2xl.py-6 Termos de Índice
    div.grid.gap-4(class="grid-cols-1 lg:grid-cols-2")
      each termInd in cl.termosInd
        a.shadow-md.bg-cyan-600.text-white.rounded-xl.px-5.py-2(href="/termosIndice" class="hover:bg-cyan-700")
          p= termInd.termo